@model IEnumerable<rental.Models.AboutU>
@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">About Us</h4>
        <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active text-primary">About Us</li>
        </ol>
    </div>
</div>
<!-- Header End -->
<!-- About Start -->
<div class="container-fluid overflow-hidden about py-5" style="background-color: #f8f9fa;">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="about-item">
                    <div class="pb-5">
                        <h1 class="display-5 text-capitalize">About <span class="text-primary">Us</span></h1>
                    </div>
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="about-item-inner border p-4">
                                <div class="about-icon mb-4">
                                    <img src="~/img/about-icon-1.png" class="img-fluid w-50 h-50" alt="Vision Icon">
                                </div>
                                <h5 class="mb-3">Our Vision</h5>
                                <p class="mb-0"><h6>To offer exceptional car rental experiences with a focus on quality, reliability, and customer satisfaction.</h6></p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about-item-inner border p-4">
                                <div class="about-icon mb-4">
                                    <img src="~/img/about-icon-2.png" class="img-fluid h-50 w-50" alt="Mission Icon">
                                </div>
                                <h5 class="mb-3">Our Mission</h5>
                                <p class="mb-0"><h6>To provide a wide range of well-maintained vehicles and exceptional service, ensuring a seamless and enjoyable rental experience.</h6></p>
                            </div>
                        </div>
                    </div>
                    <p class="text-item my-4">
                        <h6> Our goal is to make car rentals as convenient and pleasant as possible. With a diverse fleet of vehicles and a commitment to excellent service, we aim to meet all your transportation needs.</h6>
                    </p>
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="text-center rounded bg-secondary p-4">
                                <h1 class="display-6 text-white">3</h1>
                                <h5 class="text-light mb-0">Years in Business</h5>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="rounded">
                                <p class="mb-2"><i class="fa fa-check-circle text-primary me-1"></i> <h6>Wide Selection of Vehicles</h6></p>
                                <p class="mb-2"><i class="fa fa-check-circle text-primary me-1"></i> <h6>Competitive Pricing</h6></p>
                                <p class="mb-2"><i class="fa fa-check-circle text-primary me-1"></i> <h6>Easy Booking Process</h6></p>
                                <p class="mb-0"><i class="fa fa-check-circle text-primary me-1"></i><h6> Excellent Customer Support</h6></p>
                            </div>
                        </div>
                        <div class="col-lg-5 d-flex align-items-center">
                            <a href="#" class="btn btn-primary rounded py-3 px-5">Learn More About Us</a>
                        </div>
                        <div class="col-lg-7">
                            <div class="d-flex align-items-center">
                                <img src="~/img/friend.jpg" class="img-fluid rounded-circle border border-4 border-secondary" style="width: 100px; height: 100px;" alt="Team Member">
                                <div class="ms-4">
                                    <h4>Baraa & Ali</h4>
                                    <p class="mb-0">BAU-HOUSN Students</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                <div class="about-img">
                    <div class="img-1">
                        <img src="~/img/about-img.jpg" class="img-fluid rounded h-100 w-100" alt="Car Rental Image 1">
                    </div>
                    <div class="img-2">
                        <img src="~/img/Mercedes-1.jpg" class="img-fluid rounded w-100" alt="Car Rental Image 2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
